<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= HTML_WEBPACK_PLUGIN.options.title %></title>
  </head>
  <body>

<!--     <img src='example.jpg' alt="example.png"> -->

  	<!-- <h1>hallo domper</h1>
  	<h1></h1> -->

   <!--  <img src="../img/example.jpg"> -->
   <img src="../img/example.jpg">

   <div>
   <span class="fa fa-calendar fa-3x"></span>
   </div>

  	<textarea id="translationsJson"></textarea>
  	<button type="button">convert</button>



  	<textarea id="translationsObject"></textarea>






  	<input type="file" id="fileInput" multiple hidden>
  	<label for="fileInput">upload file</label>
  	<span id="fileList" style="background:#222; color: #fff; padding: 5px;">No files selected init</span>

  	<span>video upload preview</span><video id="videoPreview"></video>




	  	<table id="translationTable">
	  		<caption>csv table</caption>
        <tr>
          <th>Key</th><th>English</th><th>Translation</th>
        </tr>
	  	</table>

	  	<button id="saveCsv">Save CSV</button>

	  	<a download="translations.json">click to create and download a text file</a>




  </body>
</html>
