@import "variables";
@import "fonts";
@import "grid";
@import "theme";


body {
	background-color: $background-color-base;
	// background-image: url("../img/example.jpg");
	font-family: calibri, sans-serif;
	h1 {
		color: #fff;
		transform: skew(20deg, -10deg);		
	}
}
