// |||||||||||||
// @mixin placeholder
// params: color (optional)
// |||||||||||||
//@ ===============================================================================
//@ input[type=text].tomato-placeholder {
//@     @include placeholder(magenta);
//@ }
//@ ===============================================================================
$placeholder-vendor-prefixes: '::placeholder', '::-webkit-input-placeholder' '::-moz-placeholder' ':-ms-input-placeholder' ':-moz-placeholder';
@mixin placeholder($color: #555){
  @each $prefix in $placeholder-vendor-prefixes{
    &#{$prefix}{
      color: #{$color};
      label{
        pointer-events: none;
      }
    }
  }
}
//||||||||||||
// @mixin inputIcon
// params: font-family (required), icon (required), background-color (optional), color (optional)
// |||||||||||
//@ .input-icon {
//@     &.search {
//@         label {
//@             @include inputIcon_Label(Ionicons, '\f375');
//@         }
//@         a {
//@             @include inputIcon_A(Ionicons, '\f2c0');
//@         }
//@     }
//@     &.person-add {
//@         label {
//@             @include inputIcon_Label(Ionicons, '\f344', coral, #222);
//@         }
//@         a {
//@             @include inputIcon_A(Ionicons, '\f2c0', black, gray);
//@         }
//@     }
//@ }
.input-icon {
    display: inline-block;
    position: relative;
    text-align: center;

    input {
        position: relative;
        display: block;
        padding: 10px 65px;
        font-size: inherit;
    }

    // left icon (s/b passive)
    label {
        &::before {
            position: absolute;
            left: 7px;
            top: 7px;
            z-index: 1;
            padding: 5px 10px;

            // user configurable
            content: "";
            font-family: inherit;
            background: inherit;
            color: inherit;
        }
    }

    // right icon (s/b interactive)
    a {
        position: absolute;
        right: 0;
        top: 0;
        &::before {
            position: absolute;
            right: 7px;
            top: 7px;
            z-index: 1;
            padding: 5px 10px;
            cursor: pointer;

            // user configurable
            content: "";
            font-family: inherit;
            background: inherit;
            color: inherit;
        }
    }
}
@mixin inputIcon_Label($font-family: 'inherit', $icon: '', $background-color: 'inherit', $color: #000) {
    &::before {
        font-family: #{$font-family};
        content: '#{$icon}';
        background-color: #{$background-color};
        color: #{$color};
    }
}
@mixin inputIcon_A($font-family: 'inherit', $icon: '', $background-color: 'inherit', $color: #000) {
    &::before {
        font-family: #{$font-family};
        content: '#{$icon}';
        background-color: #{$background-color};
        color: #{$color};
    }
    &:hover {
        &::before {
            color: lighten($color, 15%);
        }
    }
}
