div.background-image-example {
	display: inline-block;
	width: 576px;
	height: 385px;
	&:hover {
		background-size: 110%;
	}
	transition: all .5s;
	background-image: url('img/example.jpg');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.tomato-placeholder {
	font-size: 2em;
	@include placeholder('tomato');
}
.input-icon {
	font-size: 2em;
	&.person-add {
		@include inputIcon(Ionicons, '\f344');
	}
	&.search {
		@include inputIcon(Ionicons, '\f375', 'tomato', '#fff');
	}
}
